# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus
# for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Generate specs'
      'submenu': [
        {
          'label': 'Default options'
          'command': 'atom-generate-default-options-specs:genDefOptionsSpecs'
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Generate specs'
      'submenu': [
        {
          'label': 'Default options'
          'command': 'atom-generate-default-options-specs:genDefOptionsSpecs'
        }
      ]
    ]
  }
]
